In [1]:
import pandas as pd
import numpy as np

In [30]:
df1=pd.read_csv("/Dataset of Diabetes .csv")
df2=pd.read_csv("/adult.csv")

In [5]:
df1.isnull().sum()

ID           0
No_Pation    0
Gender       0
AGE          0
Urea         0
Cr           0
HbA1c        0
Chol         0
TG           0
HDL          0
LDL          0
VLDL         0
BMI          0
CLASS        0
dtype: int64

In [6]:
df2.isnull().sum()

age                0
workclass          0
fnlwgt             0
education          0
educational-num    0
marital-status     0
occupation         0
relationship       0
race               0
gender             0
capital-gain       0
capital-loss       0
hours-per-week     0
native-country     0
income             0
dtype: int64

In [39]:
df2.replace('?', np.nan, inplace=True)

# Fill categorical with mode
for col in df2.select_dtypes(include='object').columns:
    df2[col].fillna(df2[col].mode()[0], inplace=True)

# Fill numeric with mean
df2.fillna(df2.mean(numeric_only=True), inplace=True)

/tmp/ipython-input-1379537460.py:5: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df2[col].fillna(df2[col].mode()[0], inplace=True)

In [8]:
df1

,ID,No_Pation,Gender,AGE,Urea,Cr,HbA1c,Chol,TG,HDL,LDL,VLDL,BMI,CLASS
0,502,17975,F,50,4.7,46,4.9,4.2,0.9,2.4,1.4,0.5,24.0,N
1,735,34221,M,26,4.5,62,4.9,3.7,1.4,1.1,2.1,0.6,23.0,N
2,420,47975,F,50,4.7,46,4.9,4.2,0.9,2.4,1.4,0.5,24.0,N
3,680,87656,F,50,4.7,46,4.9,4.2,0.9,2.4,1.4,0.5,24.0,N
4,504,34223,M,33,7.1,46,4.9,4.9,1.0,0.8,2.0,0.4,21.0,N
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,200,454317,M,71,11.0,97,7.0,7.5,1.7,1.2,1.8,0.6,30.0,Y
996,671,876534,M,31,3.0,60,12.3,4.1,2.2,0.7,2.4,15.4,37.2,Y
997,669,87654,M,30,7.1,81,6.7,4.1,1.1,1.2,2.4,8.1,27.4,Y
998,99,24004,M,38,5.8,59,6.7,5.3,2.0,1.6,2.9,14.0,40.5,Y
999,248,24054,M,54,5.0,67,6.9,3.8,1.7,1.1,3.0,0.7,33.0,Y

In [14]:
import pandas as pd
from sklearn.preprocessing import OneHotEncoder
from sklearn.compose import ColumnTransformer



categorical_cols = ['Gender', 'CLASS']


ct = ColumnTransformer(
    [('one_hot_encoder', OneHotEncoder(handle_unknown='ignore', sparse_output=False), categorical_cols)],
    remainder='passthrough'
)

# 4. Fit and Transform
df1_encoded_array = ct.fit_transform(df1)

# 5. Correctly create DataFrame
df1_encoded = pd.DataFrame(df1_encoded_array, columns=ct.get_feature_names_out())
print(df1_encoded.head())

   one_hot_encoder__Gender_F  one_hot_encoder__Gender_M  \
0                        1.0                        0.0
1                        0.0                        1.0
2                        1.0                        0.0
3                        1.0                        0.0
4                        0.0                        1.0

   one_hot_encoder__Gender_f  one_hot_encoder__CLASS_N  \
0                        0.0                       1.0
1                        0.0                       1.0
2                        0.0                       1.0
3                        0.0                       1.0
4                        0.0                       1.0

   one_hot_encoder__CLASS_N   one_hot_encoder__CLASS_P  \
0                        0.0                       0.0
1                        0.0                       0.0
2                        0.0                       0.0
3                        0.0                       0.0
4                        0.0                       0.0

   one_hot_encoder__CLASS_Y  one_hot_encoder__CLASS_Y   remainder__ID  \
0                       0.0                        0.0          502.0
1                       0.0                        0.0          735.0
2                       0.0                        0.0          420.0
3                       0.0                        0.0          680.0
4                       0.0                        0.0          504.0

   remainder__No_Pation  remainder__AGE  remainder__Urea  remainder__Cr  \
0               17975.0            50.0              4.7           46.0
1               34221.0            26.0              4.5           62.0
2               47975.0            50.0              4.7           46.0
3               87656.0            50.0              4.7           46.0
4               34223.0            33.0              7.1           46.0

   remainder__HbA1c  remainder__Chol  remainder__TG  remainder__HDL  \
0               4.9              4.2            0.9             2.4
1               4.9              3.7            1.4             1.1
2               4.9              4.2            0.9             2.4
3               4.9              4.2            0.9             2.4
4               4.9              4.9            1.0             0.8

   remainder__LDL  remainder__VLDL  remainder__BMI
0             1.4              0.5            24.0
1             2.1              0.6            23.0
2             1.4              0.5            24.0
3             1.4              0.5            24.0
4             2.0              0.4            21.0

In [38]:
import pandas as pd
from sklearn.preprocessing import OneHotEncoder
from sklearn.compose import ColumnTransformer



categorical_cols = ['workclass', 'education','marital-status'	,'occupation','relationship','race','gender','native-country','income']


ct = ColumnTransformer(
    [('one_hot_encoder', OneHotEncoder(handle_unknown='ignore', sparse_output=False), categorical_cols)],
    remainder='passthrough'
)

# 4. Fit and Transform
df2_encoded_array = ct.fit_transform(df2)

# 5. Correctly create DataFrame
df2_encoded = pd.DataFrame(df2_encoded_array, columns=ct.get_feature_names_out())
print(df2_encoded.head())

   one_hot_encoder__workclass_?  one_hot_encoder__workclass_Federal-gov  \
0                           0.0                                     0.0
1                           0.0                                     0.0
2                           0.0                                     0.0
3                           0.0                                     0.0
4                           1.0                                     0.0

   one_hot_encoder__workclass_Local-gov  \
0                                   0.0
1                                   0.0
2                                   1.0
3                                   0.0
4                                   0.0

   one_hot_encoder__workclass_Never-worked  \
0                                      0.0
1                                      0.0
2                                      0.0
3                                      0.0
4                                      0.0

   one_hot_encoder__workclass_Private  \
0                                 1.0
1                                 1.0
2                                 0.0
3                                 1.0
4                                 0.0

   one_hot_encoder__workclass_Self-emp-inc  \
0                                      0.0
1                                      0.0
2                                      0.0
3                                      0.0
4                                      0.0

   one_hot_encoder__workclass_Self-emp-not-inc  \
0                                          0.0
1                                          0.0
2                                          0.0
3                                          0.0
4                                          0.0

   one_hot_encoder__workclass_State-gov  \
0                                   0.0
1                                   0.0
2                                   0.0
3                                   0.0
4                                   0.0

   one_hot_encoder__workclass_Without-pay  one_hot_encoder__education_10th  \
0                                     0.0                              0.0
1                                     0.0                              0.0
2                                     0.0                              0.0
3                                     0.0                              0.0
4                                     0.0                              0.0

   ...  one_hot_encoder__native-country_Vietnam  \
0  ...                                      0.0
1  ...                                      0.0
2  ...                                      0.0
3  ...                                      0.0
4  ...                                      0.0

   one_hot_encoder__native-country_Yugoslavia  one_hot_encoder__income_<=50K  \
0                                         0.0                            1.0
1                                         0.0                            1.0
2                                         0.0                            0.0
3                                         0.0                            0.0
4                                         0.0                            1.0

   one_hot_encoder__income_>50K  remainder__age  remainder__fnlwgt  \
0                           0.0            25.0           226802.0
1                           0.0            38.0            89814.0
2                           1.0            28.0           336951.0
3                           1.0            44.0           160323.0
4                           0.0            18.0           103497.0

   remainder__educational-num  remainder__capital-gain  \
0                         7.0                      0.0
1                         9.0                      0.0
2                        12.0                      0.0
3                        10.0                   7688.0
4                        10.0                      0.0

   remainder__capital-loss  remainder__hours-per-week
0                      0.0                       40.0
1                      0.0                       50.0
2                      0.0                       40.0
3                      0.0                       40.0
4                      0.0                       30.0

[5 rows x 110 columns]

In [36]:
df2

,age,workclass,fnlwgt,education,educational-num,marital-status,occupation,relationship,race,gender,capital-gain,capital-loss,hours-per-week,native-country,income
0,25,Private,226802,11th,7,Never-married,Machine-op-inspct,Own-child,Black,Male,0,0,40,United-States,<=50K
1,38,Private,89814,HS-grad,9,Married-civ-spouse,Farming-fishing,Husband,White,Male,0,0,50,United-States,<=50K
2,28,Local-gov,336951,Assoc-acdm,12,Married-civ-spouse,Protective-serv,Husband,White,Male,0,0,40,United-States,>50K
3,44,Private,160323,Some-college,10,Married-civ-spouse,Machine-op-inspct,Husband,Black,Male,7688,0,40,United-States,>50K
4,18,?,103497,Some-college,10,Never-married,?,Own-child,White,Female,0,0,30,United-States,<=50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
48837,27,Private,257302,Assoc-acdm,12,Married-civ-spouse,Tech-support,Wife,White,Female,0,0,38,United-States,<=50K
48838,40,Private,154374,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,United-States,>50K
48839,58,Private,151910,HS-grad,9,Widowed,Adm-clerical,Unmarried,White,Female,0,0,40,United-States,<=50K
48840,22,Private,201490,HS-grad,9,Never-married,Adm-clerical,Own-child,White,Male,0,0,20,United-States,<=50K
48841,52,Self-emp-inc,287927,HS-grad,9,Married-civ-spouse,Exec-managerial,Wife,White,Female,15024,0,40,United-States,>50K